

/* Mens */
#slider1 .card1{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/versatility-men.jpg");
}
#slider1 .card2{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/cardio-men.jpg");
}
#slider1 .card3{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/lifting-men.jpg");
}
#slider1 .card4{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/hiit-men.jpg");
}


/* Womens */
#slider2 .card1 {
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/versatility-women.jpg"); 
}
#slider2 .card2{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/cardio-women.jpg"); 
}
#slider2 .card3{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/lifting-women.jpg"); 
}
#slider2 .card4{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/hiit-women.jpg"); 
}




/* Product Slider Mens */
 #slider3 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/300-w.jpg"); 
}
#slider3 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/300-bl.jpg"); 
}
#slider3 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/245-cl-m.jpg"); 
}
#slider3 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/245-bl.jpg"); 
}
#slider3 .card5 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/rr.jpg"); 
}
#slider3 .card6 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/260-m.jpg"); 
}
#slider3 .card7 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/260-bl.jpg"); 
}
#slider3 .card8 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/fl-gum.jpg"); 
}



/* Product Slider Womens */

#slider4 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/300-w.jpg"); 
}
#slider4 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/300-bw.jpg"); 
}
#slider4 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/245-wg.jpg"); 
}
#slider4 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/245-gg.jpg"); 
}
#slider4 .card5 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/bare-te.jpg"); 
}
#slider4 .card6 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/260-w.jpg"); 
}
#slider4 .card7 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/260-bl.jpg"); 
}
#slider4 .card8 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/fl-bw.jpg"); 
}





/* Blog */
#slider5 .card1 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider5 .card2 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider5 .card3 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider5 .card4 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider5 .card5 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Get the Kit */
#slider6 .card1{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-1.jpg");
}
#slider6 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-2.jpg");
}
#slider6 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-3.jpg");
}
#slider6 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-4.jpg");
}
#slider6 .card5{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-5.jpg");
}



/* Bottom Three */
#slider7 .card1{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/run.jpg");
}
#slider7 .card2{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/hike.jpg");
}
#slider7 .card3{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/clothing.jpg");
}
#slider7 .card4{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/equipment.jpg");
}




/* clothing Mens */
#slider8 .card1{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/boots-men.jpg");
}
#slider8 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/shoes-men.jpg");
}
#slider8 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/bags.jpg");
}
#slider8 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/packs.jpg");
}


/* clothing Womens */
#slider9 .card1 {
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/boots-women.jpg"); 
}
#slider9 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/shoes-women.jpg"); 
}
#slider9 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/bags.jpg"); 
}
#slider9 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/packs.jpg"); 
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
  

/* Mens */
#slider1 .card1{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/versatility-men.jpg");
}
#slider1 .card2{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/cardio-men.jpg");
}
#slider1 .card3{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/lifting-men.jpg");
}
#slider1 .card4{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/hiit-men.jpg");
}


/* Womens */
#slider2 .card1 {
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/versatility-women.jpg"); 
}
#slider2 .card2{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/cardio-women.jpg"); 
}
#slider2 .card3{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/lifting-women.jpg"); 
}
#slider2 .card4{
    background-image: url("https://www.inov-8.com/media/cross-training-category/desktop/hiit-women.jpg"); 
}


/* Bottom Three */
#slider7 .card1{
    background-image: url("https://www.inov-8.com/media/cross-training-category/tablet/run.jpg");
}
#slider7 .card2{
    background-image: url("https://www.inov-8.com/media/cross-training-category/tablet/hike.jpg");
}
#slider7 .card3{
    background-image: url("https://www.inov-8.com/media/cross-training-category/tablet/clothing.jpg");
}
#slider7 .card4{
    background-image: url("https://www.inov-8.com/media/cross-training-category/tablet/equipment.jpg");
}

}


@media only screen and (max-width: 600px) and (min-width: 0px) {
  




/* 
    #slider4 .card1 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-one.jpg");
    }
    #slider4 .card2 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-two.jpg");
    }
    #slider4 .card3 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-three.jpg");
    }
    #slider4 .card4 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-four.jpg");
    }
    #slider4 .card5 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-five.jpg");
    }
 */


/* Bottom Three */
#slider7 .card1{
    background-image: url("https://www.inov-8.com/media/cross-training-category/mobile/run.jpg");
}
#slider7 .card2{
    background-image: url("https://www.inov-8.com/media/cross-training-category/mobile/hike.jpg");
}
#slider7 .card3{
    background-image: url("https://www.inov-8.com/media/cross-training-category/mobile/clothing.jpg");
}
#slider7 .card4{
    background-image: url("https://www.inov-8.com/media/cross-training-category/mobile/equipment.jpg");
}



}