/* .blogCard{
    width: 364px;
    height: 398px;
} */
.blogCard__title{
    font-size: 22px;
    padding: 20px 0px;
}
.blogCard__title h2{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 0;
}
.blogCard__image{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 281px;
    width: 364px;
}
.blogCardHeight{
    height: 400px;
}

.blogCardHeight .firstChildMargin {
    margin-left: 110px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .blogCardHeight{
        height: 375px;
    }
    .blogCardHeight .firstChildMargin {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .blogCardHeight .firstChildMargin {
        margin-left: 30px;
    }
    .blogCardHeight{
        height: 300px;
    }
    .blogCard__image{
        height: 202px;
        width: 315px;
    }
}


